{% extends "base.html" %}
{% load static i18n %}
{% load custom_filters %}

{% block head %}<link rel="stylesheet" href="{% static 'css/home/home.css' %}">{% endblock %}
{% block nav %} <a class="navbar-link insta"><span>Instaclone</span></a> {% endblock %}

{% block content%}
    <script>
        $(document).ready(function(){
            function updateText(the_div, newCount){
            the_div.parent().find(".foot-text").text(newCount)
        }
            function updateIcon(main, old, new_one){
                main.find("i").removeClass(old).addClass(new_one)
                main.find("i").css({'color':'red'})
            }
        $(".like-btn").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var holder = $(".foot-text")
        var likeUrl = this_.attr("data-href")
        if (likeUrl){
            $.ajax({
            url: likeUrl,
            method: "GET",
            data: {},
            success: function(data){
                console.log(data)
                var newLikes;
                if (data.liked){
                    updateText(this_, (data.count))
                    updateIcon(this_, "fa fa-heart-o", "fa fa-heart")
                    console.log($(this).context)
                    
                    //console.log($(this).find("i").removeClass("fa fa-heart-o").addClass("fa fa-heart"))
                    //$(this).css({'color':'red'})
                } else {
                    updateText(this_, (data.count))
                    updateIcon(this_, "fa fa-heart", "fa fa-heart-o")
                    console.log($(this).context)
                    // remove one like
                }
            }, error: function(error){
                console.log(error)
                console.log("error")
            }
            })
        }
        
        })
    })
   </script>

    <div class="post-card">
        {% if posts %}
            {% for post in posts %}
                <div class="post-head">
                    <a href="{% url 'accounts:detail' post.user %}">
                        <img align="left" src="{{ post.user.picture.url }}" style="width: 30px; height: 30;"> 
                        <span class="username">
                            {{ post.user }}
                        </span>
                    </a>
                </div>
                <a href="{% url 'post:view_post' post.pk %}">
                    <img src="{{ post.post_pic.url }}" style="width: 658px; height: 658;">
                </a>
                <div class="post-foot">
                    <p>
                        <span class="foot"> 
                                <!--
                                    {% if request.user in post.likes.all %}
                                    <a href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart" style="color:#ff0000" ></i></a>
                                    {% else %}
                                    <a href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart-o"></i></a>
                                    {% endif %}
                                -->
                            <span class="foot-text">{{ post.likes.count }}</span>
                           {% if request.user in post.likes.all %}
                                <a class="like-btn" data-href="{{ post.get_api_like_url }}" href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart" style="color:red;"></i></a>
                            {% else %}
                                <a class="like-btn" data-href="{{ post.get_api_like_url }}" href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart-o"></i></a>
                            {% endif %}
                            <a href="{% url 'post:view_post' post.pk %}"><i class="fa fa-comment-o"></i></a>  
                        </span>           
                        <span class="post-time">
                            {{ post.post_date|timesince }}
                        </span>  
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <h3>Follow more users to see their posts, you can find users in explore!</h3>
        {% endif %}
    </div>

{% endblock %}
