{% extends "base.html" %}
{% load static i18n %}

{% block head %}<link rel="stylesheet" href="{% static 'css/home/home.css' %}">{% endblock %}
{% block nav %} <a class="navbar-link insta"><span>Instaclone</span></a> {% endblock %}

{% block content%}
    <div class="post-card">
        {% if posts %}
            {% for post in posts %}
                <div class="post-head">
                    <a href="{% url 'accounts:detail' post.user %}">
                        <img align="left" src="{{ post.user.picture.url }}" style="width: 30px; height: 30;"> 
                        <span class="username">
                            {{ post.user }}
                        </span>
                    </a>
                </div>
                <a href="{% url 'post:view_post' post.pk %}">
                    <img src="{{ post.post_pic.url }}" style="width: 658px; height: 658;">
                </a>
                <div class="post-foot">
                    <p>
                        <span class="foot"> 
                            {{ post.likes.count }}
                            {% if request.user in post.likes.all %}
                                <a href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart" style="color:#ff0000" ></i></a>
                            {% else %}
                                <a href="{% url 'post:out_like' post.pk %}"><i class="fa fa-heart-o"></i></a>
                            {% endif %}
                            <a href="{% url 'post:view_post' post.pk %}"><i class="fa fa-comment-o"></i></a>  
                        </span>           
                        <span class="post-time">
                            {{ post.post_date|timesince }}
                        </span>  
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <h3>Follow more users to see their posts, you can find users in explore!</h3>
        {% endif %}
    </div>

{% endblock %}
