{% extends "base.html" %}
{% load static i18n %}

{% block title %} Activity {% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/home/home.css' %}">{% endblock %}
{% block nav %} <a class="navbar-link insta"><span>Instaclone</span></a> {% endblock %}

{% block content %}

{% if activites %}
    {% for activity in activites %}
        <a href="{% url 'accounts:detail' activity.from_user %}" class="act-a">
            <p class="e-activity"> 
                <img src="{{ activity.from_user.picture.url }}" class="act-im" align="left"> 
                {{ activity }}
            </p>
        </a>
    {% endfor %}
{% endif %}

{% endblock %}