/* Base */
:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bot-nav {
    width: 20%;
    text-align: center;
}

.insta {
    font-family: 'Lobster Two', cursive;;
    text-align: center;
    width: 100%;
    font-size: 3.5rem;
}

a, a:visited, a:focus, a:link
{ 
    text-decoration: none; 
    color: black
}
a:hover
{
    text-decoration: none;
    color: darkgray;
}

.ocontainer {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.icontainer {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 7rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

/* Home */
.post-card {
    padding-left: 13%;
    padding-right: 13%;
}

.post-head img{
    display: block;
    margin-bottom: 5px;
}

.post-foot {
    margin-top: 5px;
    margin-bottom: 50px;
}

.post-foot p {
    font-size: 2rem;
}

.username {
    font-size: 2.15rem;
}

.foot {
    margin-right: 84.15%;
}

.post-time {
    font-size: 1.75rem;
}

/* Explore */

/* Add */

/* Like */

/* Profile */