{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'All Users' %}{% endblock %}

{% block head %}<link rel="stylesheet" href="{% static 'css/home/home.css' %}">{% endblock %}
{% block nav %} <a class="navbar-link insta"><span>Instaclone</span></a> {% endblock %}

{% block content %}

  <p>{{ user_list }}</p>
  {% for user in myuser_list %}
    {% if request.user.username != user.username %}
      <p class="e-user">
        <a href="{% url 'accounts:detail' user.username %}">
          <img src="{{user.picture.url}}" style="height: 30px; width: 30px;" align="left">
          {{ user.username }}
        </a></p>
    {% endif %}
  {% endfor %}
    
{% endblock content %}

